.spinner {
    border: 5px solid #e1d6c3; /* Light grey */
    border-top: 5px solid #8b6a31; /* Blue */
    border-radius: 50%;
    width: 40px; /* Dimenzije spinnera */
    height: 40px;
    animation: spin 1s linear infinite; /* Animacija */
    margin: auto; /* Centriranje */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }